.mewd {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mewd-image {
  background-size: cover;
  width: 105%;
  height: 105%;
  transition: transform .5s ease;
}

.mewd-image:hover {
  transform: scale(1.2);
}
