.delete-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.mewd {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.mewd-image {
  background-size: cover;
  width: 105%;
  height: 105%;
  transition: transform 0.5s ease;
}

.mewd-image:hover {
  transform: scale(1.2);
}
